{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
	<h1 id="text-1">{{ post.title }}</h1>
	<p class="date">
		Опубликовано {{ post.publish }} пользователем {{ post.author }}
	</p>
	{{ post.body|linebreaks }}
	{% with comments.count as total_comments %}
		<h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
	{% endwith %}

{% for comment in comments %}
	<div class="comment">
		<p class="info">
			Комментарий {{ forloop.counter }} от {{ comment.name }}
			{{ comment.created }}
		</p>
		{{ comment.body|linebreaks }}
	</div>
{% empty %}
	<p>Пока что здесь нет комментариев</p>
{% endfor %}
<h2>Добавить новый комментарий</h2>
	<form action="{% url "blog:post_comment" post.id %}" method="post">
		{{ form.as_p }}
		{% csrf_token %}
		<p><input type="submit" value="Add comment"></p>
	</form>
{% endblock %}
